.section {
  padding: 1rem;
}

.card {
  display: flex;
  width: 180px;
  background: #005cbb;
  color: white;
  border-radius: 8px;
  height: 70px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}